body {
	background: #151515 ;
	color: navajowhite ;
	max-width: 850px ;
	margin: auto ;
	padding: 0 16px ;
	margin-bottom: 500px ;
	scrollbar-color: gray #151515;
	font-family: sans-serif ;
}

::-webkit-scrollbar {
	width: .66vw;
	background-color: #151515;
}
::-webkit-scrollbar-thumb {
	background-color: gray;
	border-radius: 5px;
}

a {
	color: gold ;
	text-decoration: none ;
}

#tagcloud {
	list-style: none ;
	text-align: center ;
	padding: 0 ;
}

#tagcloud li {
	display: inline-block ;
}

#tagcloud a {
	margin: .1em .25em ;
}

#prevart {
	float: left ;
	text-align: left ;
}

#nextart {
	float: right ;
	text-align: right ;
}

#nextart,#prevart {
	max-width: 33% ;
}

a:visited {
	color: darkgoldenrod ;
}

a:hover {
	color: beige ;
	text-decoration: underline;
}

h1 {
	border-style: solid ;
	border-width: 0px 0px 2px 0px ;
	text-align: center ;
}

h2 {
	color: tomato ;
	text-align: center ;
}

footer {
	text-align: center ;
	border-style: solid ;
	border-width: 2px 0px 0px 0px ;
	padding: 1em ;
}

img {
	max-width: 90% ;
	max-height: 400px ;
	margin: auto ;
	display: block ;
}

code {
	overflow-wrap: break-word ;
	color: lime ;
}

.taglist {
	text-align: center ;
  > span:not(:last-of-type):after {
    content: "\0000A0\0000B7\0000A0";
  }
}

img[alt="BTC Logo"],
img[alt="ETH Logo"],
img[alt="XMR Logo"] {
	max-width: 1em ;
	max-height: 1em ;
	display: inline ;
}

@media (pointer: coarse) {
	li > a {
	    display: inline-block;
		padding: 0.2em 0;
	}
}

@media print {
	a[href] {
		text-decoration: none ;
		color: black ;
	}

	footer,.taglist { display: none ; }

	body {
		margin: 0;
	}


}

.older-article {
	display: none ;
}

.hidden {
	display: none !important ;
}

#artlist {
	font-size: large ;
}

#artlist li {
	padding: .25em ;
}

@media (min-width: 55em) {
	#artlist { column-count: 2 ;}
}

@media (min-width: 100em) {
	#artlist { column-count: 3 ;}
}


input#search {
  all: unset;
  background: #222;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 5px;
  width: 100%;
}

.search {
	position: relative;
  	display: flex;
  	flex-grow: 1;
}

.search-container {
	width: 400px;
	max-width: 85vw;
	position: relative;
	margin: 0.5rem auto 1.2rem;
	display: flex;
	gap: .5rem;
}

button#random {
	all: unset;
	background: #222;
	color: #888;
	border-radius: 5px;
	padding: .7rem 1rem;
	height: 100%;
	cursor: pointer;
	transition: color 180ms ease-in-out;
}
  
button#random:hover {
	color: #eee;
}

button#clear-search {
  all: unset;
  position: absolute;
  right: 4px;
  top: 5px;
  height: 30px;
  width: 30px;
  color: #888;
  cursor: pointer;
  transition: color 180ms ease-in-out;
}
button#clear-search:hover {
  color: #eee;
}


.matched-recipe {
	font-size: x-large ;
	display: list-item !important ;
}

.list-searched {
	column-count: 1 !important ;
	list-style: decimal ;
	max-width: 600px ;
	margin: auto ;
}

.cryptocontainer {
    display: flex ;
    flex-wrap: wrap ;
    justify-content: center ;
}
.cryptoinfo {
    max-width: 350px ;
    text-align: center ;
    padding-left: 10px ;
    padding-right: 10px ;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.cryptoinfo code {
	font-size: small ;
	overflow-wrap: break-word ;
}
.qr {
    max-height: 150px; ;
	padding-top: 10px;
	padding-bottom: 10px;
}

.js-only { display: none ; }
